%h2
  = I18n.t('rows.import_title')
.form-container
  %form.forms{:action => import_rows_path, :enctype => 'multipart/form-data', :role => 'form', :method => 'POST' }
    %input{ :type => 'hidden', :name => request_forgery_protection_token.to_s, :value => form_authenticity_token }
    .form-group
      %label{ for: 'phonesfile' }
        = I18n.t('rows.phonesfile_label')
      %input.form-control{:type => 'file', :name => 'contacts', :style => 'width: 30%;'}
    %button.btn.btn-success{ type: 'submit' }
      = I18n.t('rows.save')
